rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // PERMETTI LETTURA: Utenti loggati (App)
      allow read: if request.auth != null;
      
      // BLOCCA SCRITTURA: Solo il Backend (Admin SDK) può scrivere
      allow write: if false;
    }
  }
}